/* Swap blue (m1) to show red (m3) */
div[style*="images/m1.png"] {
  background-image: url("/./images/m3.png") !important;
}

/* Keep yellow (m2) as yellow (m2) */
div[style*="images/m2.png"] {
  background-image: url("/./images/m2.png") !important;
}

/* Swap red (m3) to show blue (m1) */
div[style*="images/m3.png"] {
  background-image: url("/./images/m1.png") !important;
}

/* Optional: if m4 exists, you can swap it too */
div[style*="images/m4.png"] {
  background-image: url("/./images/m4.png") !important;
}
